@model FoodOrder.ViewModels.AllOrdersViewModel
@{
    ViewData["Title"] = "AllOrders";
}

<h1>All orders</h1>

<table class="table">
    <thead>
        <tr>
            <th class="align-middle text-center">
                @Html.DisplayName("Order ID")
            </th>
            <th class="align-middle text-center">
                @Html.DisplayName("Total price")
            </th>
            <th class="align-middle text-center">
                @Html.DisplayName("Payment method")
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Orders)
        {
            <tr>
                <td class="align-middle text-center">
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td class="align-middle text-center">
                    @item.TotalPrice.ToString("C")
                </td>
                <td class="align-middle text-center">
                    @foreach (var item2 in Model.Checks)
                    {
                        if (item.Id == item2.OrderId)
                        {
                            @Html.DisplayFor(modelItem => item2.Payment.PaymentMethod)
                        }
                    }
                </td>
                <td class="col-2">
                    @if (!item.IsPayed)
                    {
                        <a class="btn btn-outline-warning form-control" asp-controller="Checks" asp-action="Create" asp-route-id="@item.Id">Check out</a>
                    }
                </td>
                <td class="col-1">
                    @if (!item.IsPayed)
                    {
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                    }
                </td>
                <td class="col-1">
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>