@model IEnumerable<Order>

@{
    ViewData["Title"] = "AllOrders";
}

<h1>All orders</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Order ID")
            </th>
            <th>
                @Html.DisplayName("Total price")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPrice)
                </td>
                <td>
                    <div class="form-group row">
                        @if (!item.IsPayed)
                        {
                            <div class="col-3">
                                <a class="btn btn-outline-warning" asp-controller="Checks" asp-action="Create" asp-route-id="@item.Id">Check out</a>

                            </div>
                            <div class="col-3">
                                <input type="submit" value="Delete" asp-route-id="@Model" class="btn btn-danger form-control" />
                            </div>
                        }
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>