@model FoodOrder.ViewModels.OrderViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Order details</h1>
<h2>Order ID: @Html.DisplayFor(o=>o.Order.Id)</h2>


<table class="table">
    <thead>
        <tr>
            <th class="align-middle text-center">
                @Html.DisplayName("Product name")
            </th>
            <th class="align-middle text-center">
                @Html.DisplayName("Price")
            </th>
            <th class="align-middle text-center">
                @Html.DisplayName("Amount")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.orderItems)
        {
            <tr>
                <td class="align-middle text-center">
                    @Html.DisplayFor(modelItem => item.Product.Name)
                </td>
                <td class="align-middle text-center">
                    @item.Product.Price.ToString("C")
                </td>
                <td class="align-middle text-center">
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td></td>
            </tr>
        }
        <tr class="border-">
            <td class="col-1"></td>
            <td>
                @Html.DisplayName("Total:")
            </td>
            <td>
                @Model.Order.TotalPrice.ToString("C")
            </td>
            <td>
                @if (!Model.Order.IsPayed)
                {   
                    <a class="btn btn-outline-warning" asp-controller="Checks" asp-action="Create" asp-route-id="@Model.Order.Id">Check out</a>
                }
            </td>
        </tr>
    </tbody>
</table>
